ul {
  list-style-type: none;
}
//Director List
.container-view {
  margin: 0 5% 0 5%;
}
.principal-header {
  text-align: center;
}
.table-directors {
  width: 100%;
  .table-header {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    th {
      border-bottom: 1px solid #ddd;
      font-size: 1.2em;
    }
  }
  .director-attr {
    padding: 10px;
    cursor: pointer;
  }
  tbody {
    tr:hover {
      color: #3E3ECA;
    }
  }
}
//Director Detail
.director-detail {
  .image-director {
    max-width: 100%;
  }
  .director-description {
    padding: 10px;
    .description {
      font-size: 1.2em;
      font-weight: 600;
    }
  }

}
